


<div class="pantallaChat">

    <div class="header">
         <h1>WebChat by Facubon</h1>
    <button class="switch" id="switch">
         <span class="span"> <i class="fa-solid fa-sun"></i> </span> 
         <span class="span"> <i class="fa-solid fa-moon"></i> </span>
    </button>
    </div>

   <div class="body">

        <div>
            <p class="mensajes" id="messageLogs"></p>
        </div>

   </div>

    <input class="footer" type="text"  placeholder="Escribi un mensaje"   id="chatbox">

</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>