<div class="pantallaChat">
    <h1> Bienvenidos al Chat by Facubon</h1>
    <input type="text" id="chatbox">

<div>
    <p id="messageLogs"></p>
</div>



</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>